@import url('https://fonts.googleapis.com/css?family=Roboto Condensed');

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 170%;
  margin: 0;
  background-color: #391F44;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.App {
  width: 100%;
  min-width: 500px;
  max-width: 1280px;
  display: inline-block;
  flex-wrap: wrap;
  text-align: left;
}

.whitepaper {
  color: #F5F5F5;
}

.whitepaper ol {
  line-height: 200%;
}

.whitepaper h1 {
  font-size: 2rem;
  text-align: center;
}

.whitepaper .subtitle {
  font-size: 1.4rem;
}

.whitepaper .content {
  font-size: 1rem;
  line-height: 170%;
}

.whitepaper .signature {
  text-align: center;
}
.whitepaper .signature img {
  height: 120px;
}
