
.header {
}

.header-content {
  position: relative;
}

.header-content img {
  height: 734px;
  border-radius: 1%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.header h1 {
  font-size: 1.8rem;
  color: #F5F5F5;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 8%;
  z-index: 1;
}

.header h2 {
  font-size: 1rem;
  color: #AAAAAA;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 8%;
  z-index: 1;
}

.header .fund-button {
  position: absolute;
  top: 55%;
  left: 8%;
}

.header button {
  background-color: transparent;
  border: 3px solid #FFA500;
  border-radius: 20px;
  color: #FFA500;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.header button:hover {
  background-color: #FFA500;
  color: #fff;
}
