
.header {
}

.header-content {
  position: relative;
}

.header-content img {
  width: 100%;
  min-width: 650px;
  max-width: 1280px;
  border-radius: 1%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.header-content .tokenomics {
  position: absolute;
  top: 30%;
  left: 8%;
  z-index: 1;
}

.header h1 {
  font-size: 1.8rem;
  color: #F5F5F5;
}

.header h2 {
  font-size: 1rem;
  color: #AAAAAA;
  z-index: 1;
}

.header button {
  background-color: transparent;
  border: 3px solid #FFA500;
  border-radius: 20px;
  color: #FFA500;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.header button:hover {
  background-color: #FFA500;
  color: #fff;
}
